@use '../../styles/mixin.module.scss' as *;
@use '../../styles/variable.module.scss' as *;

.wrap {
  background-color: white;
  border-radius: 20px;
  padding: 15px;

  h5 {
    text-align: left;
    font-size: 18px;
  }

  .price {
    text-align: left;
    color: $primary-color;
    margin: 10px 0;
    font-weight: 450;
  }

  .content {
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;

    .detailBtn {
      display: inline-block;
      text-align: center;
      border-radius: 10px;
      padding: 6px 16px;
      border: 1px solid gray;
      color: black;
      text-decoration: none;

      &:hover {
        background-color: rgb(251, 251, 251);
      }
    }


    .bookBtn {
      border-radius: 10px;
      @include btn(80px, 32px, 10px, white, black);
      font-weight: 500;
      background-color: $primary-btn-color;
      color: white;
      border: 1px solid $primary-btn-color;

      &:hover {
        @include hoverWhiteBtn($primary-btn-color-hover, white);
      }
    }
  }
}
