@use '~/styles/variable.module.scss' as *;
@use '~/styles/mixin.module.scss' as *;

.wrap {
  margin-top: 40px;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .input-field {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-weight: bold;
      }

      input,
      select {
        background-color: rgb(241, 241, 241);
        padding: 5px 10px;
        border: none;
        color: black;
        border-radius: 5px;
        outline: none;
      }
    }

    button {
      @include btn(none, none, 20px, $new-color, white);
      font-weight: bold;
      padding: 5px 10px;
    }
  }
}
