@use '~/styles/variable.module.scss' as *;
@use '~/styles/mixin.module.scss' as *;

.wrap {
  min-height: 1000px;
  width: 100%;
  margin-top: 100px;
  background-color: rgb(244, 252, 255);
  .container {
    @include flexBoxStyle(flex-start, none, 20px);
    margin: 0 40px;
    padding: 40px 0;

    .user-aside {
      background-color: white;
      box-shadow: $box-shadow-default;
      border-radius: 20px;
      width: 20%;
      padding: 20px;

      .user-avatar {
        @include flexBoxStyle(center, center, 0);
        background-color: lightgray;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
      }

      .aside-menu {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          cursor: pointer;
          padding: 10px;
          &:hover {
            background-color: rgb(245, 245, 245);
            border-radius: 15px;
          }
        }

        .active {
          background-color: rgb(245, 245, 245);
          border-radius: 15px;
        }
      }
    }

    .main-content {
      flex: 1;
      background-color: white;
      box-shadow: $box-shadow-default;
      border-radius: 20px;
      padding: 20px;

      h5 {
        font-size: 30px;
        color: $new-color;
      }
    }
  }
}
