$primary-color: #0d6efd;
$secondary-color: #444;
$third-color: #555;
$box-shadow-default: rgba(0, 0, 0, 0.4) 0px 0px 10px;

$primary-bg-color: #f1f6fb;

$primary-btn-color: #0d6efd;
$primary-btn-color-hover: #478ffc;
