@use '~/styles/mixin.module.scss' as *;
@use '~/styles/variable.module.scss' as *;

.home-wrap {
  background-color: $primary-bg-color;
  .home-new-content {
    min-height: 1000px;
    width: 100%;
    margin-top: 100px;

    .home-banner {
      width: 100%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .home-service {
      text-align: center;
      padding: 50px 0;

      .service-wrap {
        width: 1000px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }

      .service-page-btn {
        margin-bottom: 30px;
        @include btn(200px, 40px, 20px, $primary-btn-color, white);
        font-weight: 550;

        &:hover {
          @include hoverWhiteBtn($primary-btn-color-hover, white);
        }
      }
    }
  }
}
