@use '~/styles/mixin.module.scss' as *;
@use '~/styles/variable.module.scss' as *;

.home-wrap {
  background-color: $primary-bg-color;
  h1 {
    color: #06aed4;
  }
  .home-new-content {
    min-height: 1000px;
    width: 100%;
    margin-top: 100px;

    .home-banner {
      width: 100%;
      height: 800px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .home-about-us {
      background-color: white;
      height: calc(100vh - 100px);
      padding: 50px 0;
      width: 100%;

      h1 {
        text-align: center;
        color: $new-color;
      }

      .about-us-content {
        @include flexBoxStyle(flex-start, none, 40px);
        padding: 30px 100px;
        padding-bottom: 0;
        overflow: hidden;

        .content-right,
        .content-left {
          width: 50%;
        }

        .content-left {
          p {
            text-align: justify;
            font-size: 16px;
            font-weight: 500;
            color: rgb(45, 91, 107);
          }
        }

        .content-right {
          overflow: hidden;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    .home-service {
      text-align: center;
      padding: 50px 0;

      .home-blog-wrap {
        width: 1000px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }

      .service-wrap {
        width: 1000px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }

      .service-page-btn {
        margin-bottom: 30px;
        @include btn(200px, 40px, 20px, $primary-btn-color, white);
        font-weight: 550;

        &:hover {
          @include hoverWhiteBtn($primary-btn-color-hover, white);
        }
      }
    }
  }
}
