@use '~/styles/variable.module.scss' as *;
@use '~/styles/mixin.module.scss' as *;

.wrap {
  margin-top: 40px;

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: $box-shadow-default;

    tbody,
    thead {
      border-bottom: 1px solid rgb(232, 232, 232);
      td {
        padding: 12px;
        text-align: center;
      }
      tr {
        border-bottom: 1px solid rgb(232, 232, 232);
      }

      th {
        background-color: #f4f4f4;
      }

      .delete-btn {
        @include btn(none, none, 10px, red, white);
        padding: 5px 10px;
      }

      .register-btn {
        @include btn(none, none, 10px, $new-color, white);
        padding: 5px 10px;
      }

      button {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
