@use '~/styles/variable.module.scss' as *;
@use '~/styles/mixin.module.scss' as *;

.wrap {
  margin-top: 40px;

  .table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;

    tbody,
    thead {
      td {
        padding: 12px;
        text-align: left;
      }

      th {
        background-color: #f4f4f4;
      }
    }
  }
}
