@use '../../styles/mixin.module.scss' as *;
@use '../../styles/variable.module.scss' as *;

.body {
  display: flex;
  flex-direction: row;
  .sidebar {
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 20%;
    min-height: 100vh;
    padding: 20px;
    border-right: 1px solid rgb(211, 211, 211);

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        cursor: pointer;
        padding: 8px 0;
      }
    }
  }

  .content {
    flex: 1;
    padding: 20px;
  }
}
