@use '../../../../styles/variable.module.scss' as *;
@use '../../../../styles/mixin.module.scss' as *;

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: white;
  z-index: 10;
  padding: 0 40px;
  @include flexBoxStyle(center, space-between, 0);

  .header-logo {
    width: 150px;
    background-color: blue;
    h1 {
      margin: 0;
    }
  }

  .header-navbar {
    color: black;
    @include flexBoxStyle(center, space-between, 40px);

    a {
      text-decoration: none;
      color: black;
    }
  }

  .header-account {
    width: 160px;
    @include flexBoxStyle(center, space-between, 0);
    button {
      @include btn(76px, 35px, 10px, $primary-btn-color, white);
      font-size: 14px;
      font-weight: 550;
      a {
        color: white;
        text-decoration: none;
      }

      &:first-child {
        background-color: pink;
      }
    }
  }
}
