@use '../../../../styles/variable.module.scss' as *;
@use '../../../../styles/mixin.module.scss' as *;

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: white;
  z-index: 1001;
  padding: 0 40px;
  @include flexBoxStyle(center, space-between, 0);

  .header-logo {
    width: 180px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .header-navbar {
    color: black;
    @include flexBoxStyle(center, space-between, 40px);

    a {
      text-decoration: none;
      color: #06aed4;
      font-weight: bold;
    }
  }

  .header-account {
    width: 180px;
    @include flexBoxStyle(center, space-between, 0);

    .user-wrap {
      text-align: right;
      width: 100%;
      position: relative;

      &:hover .dropdown-menu {
        display: block;
      }

      &::after {
        display: block;
        content: '';
        width: 180px;
        height: 30px;
        position: absolute;
        right: 0;
      }

      p {
        text-decoration: underline;
        cursor: pointer;
      }

      .dropdown-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 5px 10px;
        border-radius: 10px;
        right: 0;
        top: 30px;
        box-shadow: $box-shadow-default;
        display: none;
        z-index: 2;

        a {
          text-decoration: none;
          color: black;
        }
        p {
          text-decoration: none;
          padding: 5px;

          &:hover {
            background-color: rgb(231, 231, 231);
            border-radius: 10px;
          }
        }
      }
    }

    button {
      @include btn(86px, 35px, 20px, black, white);
      font-size: 14px;
      font-weight: 550;
      a {
        color: white;
        text-decoration: none;
      }

      &:first-child {
        background: linear-gradient(90.08deg, #0e82fd 0.09%, #06aed4 70.28%);
      }
    }
  }
}
